---
import { Button, Icon } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/ContentLayout.astro' // Changed to ContentLayout
import { integ } from '@/site-config'
import Section from '@/components/home/Section.astro'

import DocsContents from './DocsContents.astro'

const meta = {
  title: 'sr-lang Documentation',
  description: 'The official documentation for the sr-lang programming language.'
}
---



<PageLayout {meta}>
  <Fragment slot='sidebar'>
    <DocsContents class='docs-toc block mt-3' />
  </Fragment>

  <Fragment slot='header'>
    <h1 class="mb-6 text-3xl font-medium">sr-lang Documentation</h1>
      <p class="text-muted-foreground">
        Welcome to the official documentation for the sr-lang programming language. Use the navigation to explore the language features, from basic syntax to advanced metaprogramming.
    </p> 
    <div class='mt-4 flex flex-wrap gap-x-4 gap-y-2 text-xs leading-6 text-muted-foreground'>
      {
          <blockquote class='text-sm italic text-muted-foreground'>
            <q>imagine someone said something profound here</q>
          </blockquote>
      }
    </div>
  </Fragment>


  <Section class="mt-8 mb-8">
    <p class="text-muted-foreground mb-4">
      sr-lang is as down to the metal as it gets. I wrote it to learn how a compiler works. If you plan to write anything in it, you will too.
    </p>
    <div class="flex flex-wrap gap-4">
      <Button href="/language/docs/introduction/getting-started">
        Introduction
      </Button>
      <Button href="/language/docs/basics/variables">
        Basics
      </Button>
      <Button href="/language/docs/advanced/generics">
        Advanced Topics
      </Button>
      <Button href="/language/docs/metaprogramming/comptime">
        Metaprogramming
      </Button>
    </div>
  </Section>

  <div slot='bottom'>
    <div class='rounded-xl border px-4 py-3 mt-3 sm:py-4 md:mt-6'>
      <DocsContents />
    </div>
  </div>
</PageLayout>

<style>
  @media (min-width: 1300px) {
    :global(
      main, .bottom { transform: translateX(7.9rem); }
      #sidebar { overflow: inherit; }
      toc-heading { height: 100%; display: flex; flex-direction: column; }
      toc-heading > ul { overflow-y: scroll; }
    )
    .docs-toc {
      position: fixed;
      top: 0;
      left: -64rem;
      margin-top: 0;
      max-height: calc(100vh - 7rem);
      overflow-y: scroll;
      padding-right: 1rem !important;
    }
  }
</style>
